<div style="padding-left: 150px; padding-right: 150px;">
	<h1>Exposition au Louvre</h1>
	<p>Find me in app/views/pages/accueil.html.erbFind me in app/views/pages/accueil.html.erbFind me in app/views/pages/accueil.html.erbFind me in app/views/pages/accueil.html.erbFind me in app/views/pages/accueil.html.erbFind me in app/views/pages/accueil.html.erbFind me in app/views/pages/accueil.html.erbFind me in app/views/pages/accueil.html.erbFind me in app/views/pages/accueil.html.erbFind me in app/views/pages/accueil.html.erbFind me in app/views/pages/accueil.html.erb</p>

	<%= link_to "TEST", test_path %>
</div>