<div style="padding-left: 150px; padding-right: 150px;">
	<h1>Nicolas KERVOERN</h1>
	<p>Appentis Développeur Java @ SAFRAN Engineering Services</p>
	<br><br>
	<h2>C.V.</h2>

	<%= link_to "TEST", test_path %>
</div>