<!DOCTYPE html>
<html>
	<head>
		<title>En construction - Site Nicolas Kervoern</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div style="padding: 50px; text-align: justify;">
			<h1 style="text-align: center;">SITE EN CONSTRUCTION</h1>
			<br><br><br><br>
			<h2 style="text-align: center;">Concours</h2>
			<h1 style="text-decoration: underligne;">Objets connectés, avez vous donc une âme ?</h1>
			<br><br>
<p>L’explosion d’Internet marque un tournant dans la numérisation du monde. L’aspect
>>>>>>> 0c85be0bc5d4c907afaaa9faa1d0821325501ca5

relationnel humain est bouleversé par les réseaux sociaux, le cloud donne accès a un nombre

monstrueux de données dont le traitement reste indispensable, le tout accessible partout, et mobile.

En ajoutant la composante “objets connectés” à ces éléments d’Internet, l’ «Internet of things»

devient l’ «Internet of everything». Le BigData, le Cloud, la géolocalisation, les informations, les

réseaux sociaux ouvrent un champs à l’exploitation de ces données par des objets autonomes,

intelligents et capables d’apprendre.</p>

<p>«Internet of everything» est une révolution qui va nous permettre d’aller encore plus loin

dans la relation «Homme / Machine», mais surtout dans la relation «Machine / Machine». Les

objets connectés vont accroître la liaison entre le monde réel et le monde numérique, et nous

permettront d’appréhender le monde qui nous entoure de façon plus pertinente. Les enjeux sont

nombreux et concernent des domaines variés, comme la santé, l’alimentation, l’urbanisation,

l’industrie. mais le véritable enjeu est plus global, comment rendre autonome ces objets connectés,

comment deviennent­ils capables d’interagir avec l’Homme ou son environnement ?</p>

<p>La connexion entre les objets et les êtres humains est devenue possible grâce à la

conjugaison des pouvoirs d’Internet et du «machine­learning». Ce dernier consiste à configurer

une machine, un programme dans le but d’un apprentissage autonome. Il permet par exemple de

détecter une répétition fréquente de schémas précis et de procéder à son analyse, dans le but

d’automatiser le comportement de «celui qui analyse». L'utilisation de ces objets se fit d'abord

dans le domaine professionnel. En effet, leur participation au monde du travail permet un meilleur

rendement et une réduction de la possibilité d'erreur humaine non négligeable à ceux qui s'en

servent.</p>

<p>Mais cette révolution de l'objet s'est propagée dans la sphère privée, où ils deviennent

d'une grande importance dans le quotidien des utilisateurs. Les maisons intelligentes s’auto­gèrent,

les volets se ferment selon l’heure, la température se régule toute seule, les lumières s’allument

selon la luminosité, la télévision affiche la météo actuelle, les messages, mails, actualités... Ainsi,

on peut à présent lancer la cuisson de son plat avant d'arriver chez soit ou encore surveiller sa

maison depuis l'ordinateur de quelqu'un d'autre, sa tablette ou son smartphone. Le but étant de

faciliter la vie quotidienne, ces objets en deviennent une partie intégrante et des éléments

indispensables au domicile.</p>

<p>Cependant, outre la simplicité de vie que nous apportent ces objets, nous pourrions nous

poser la question de ce qu'il se passe derrière : ne s'agit­il que d'un programme parfaitement

fonctionnel ou bien y a­t­il une nouvelle forme de vie, une entité « pensante », derrière ces

machines, qui leur donnerait une once d'humanité ? Des défenseurs de ces deux hypothèses

cherchent à prouver leurs dires, mais une solution partagée semble la seule plausible aujourd'hui :

le créateur de cet objets le conçoit avec une part d'autonomie, une indécision à la fabrication qui lui

laisse la possibilité entre tel et tel choix d'agissement, ce qui lui permet d'avoir un semblant de

jugement et de liberté. Mais cette liberté de choix et ces différentes possibilités d'action en fonction

des paramètres extérieurs pris en compte par l'objet en font­ils des possesseurs d'une « âme

matériel » ? Rien n'est moins sûr et les débats sont encore très ouverts sur le sujet.</p>
		</div>
	</body>
</html>
